[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"
serve = "python -m web serve"
build = "python -m"  # pipenv run build data.events
build_web = "python -m web freeze --path=build --no-cname"

[packages]
pyyaml = "~=4.2b1"
flask = "~=1.0.2"

[dev-packages]
pylama = "~=7.6.6"
pytest = "~=3.7.2"
pytest-cov = "~=2.5.1"
codecov = "~=2.0.15"
elsa = "~=0.1.5"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
