[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"
serve = "python -m pythoncz serve"
build = "python -m pythoncz build"
deploy = "python -m pythoncz deploy"

[packages]
# Pinning packages with ~= unless their version starts with 0.,
# then pinning each version strictly with ==
pyyaml = "~=4.2b1"
flask = "~=1.0.2"
click = "~=7.0"
python-slugify = "~=2.0.1"
ics = "==0.4"
arrow = "==0.4.2"  # can't use newer because of 'ics' https://github.com/C4ptainCrunch/ics.py/issues/153
frozen-flask = "==0.15"
feedparser = "~=5.2.1"

[dev-packages]
# Pinning packages with ~= unless their version starts with 0.,
# then pinning each version strictly with ==
pylama = "~=7.6.6"
pytest = "~=3.7.2"
pytest-cov = "~=2.5.1"
codecov = "~=2.0.15"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
